[submodule "CVMix-src"]
	path = pkgs/CVMix-src
	url = https://github.com/CVMix/CVMix-src
[submodule "pkgs/M4AGO-sinking-scheme"]
	path = pkgs/M4AGO-sinking-scheme
	url = https://github.com/jmaerz/M4AGO-sinking-scheme
